<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
    <meta charset="utf-8">
    <title>todo</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <style>[ng-cloak] {display: none;}</style>
</head>
<body>
    <ng-view ng-controller="TodoCtrl" ng-cloak>
        <header>
            <form ng-submit="add()">
                <input type="text" ng-model="title" autofocus placeholder="What needs to be done?">
                <button>Add</button>
            </form>
        </header>
        <section ng-show="todos.length">
            <ul class="todos">
                <li ng-repeat="todo in todos track by getId(todo) | orderBy:createdAt" ng-class="{completed: todo.completed}" ng-click="toggleComplete(todo)">{{todo.title}}</li>
            </ul>
        </section>
        <footer info-pane></footer>
    </ng-view>

    <script src="libs/angular.js"></script>
    <script src="libs/angular-touch.js"></script>
    <script src="libs/angular-animate.js"></script>

    <script>
        document.addEventListener('aiq-ready', function() {
            angular.bootstrap(document, ['todoApp']);
        }, false);
    </script>

    <script src="js/app.js"></script>
    <script src="js/directives/infoPane.js"></script>
    <script src="js/controllers/controller.js"></script>
    <script src="js/services/adapter.js"></script>
    <script src="aiq/aiq-api.js"></script>
</body>
</html>
